.actor-filter {
  .reset-button {
    margin-left: 0.5rem;
    padding: 0.15rem;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .form-group {
    flex: 1 1 16rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .select {
    color: var(--foreground-muted);

    &.filter-applied {
      background-color: var(--background-muted);
      color: var(--foreground);
    }
  }
}
